<div style="width: 100%; padding: 20px">
    <div style="width: 800px">
      <div style="display: inline-block; width: 100%">
        <div style="float: left">
          <b>Number of Calls: </b>{{rowCount}}
        </div>
      </div>
      <div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px">
        <div style="float: left">
          <button (click)="this.createRowData()" class="btn btn-primary">Refresh Data</button>
        </div>
      </div>
    </div>
    <ag-grid-angular style="width: 100%; padding-right: 20px; height: 650px;" class="ag-theme-alpine"
                     [columnDefs]="columnDefs"
                     [sideBar]="sideBar"
                     [rowData]="rowData"

                     [defaultColDef]="defaultColDef"
                     [components]="components"
                     [modules]="modules"

                     (gridReady)="onGridReady($event)"
                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)">
    </ag-grid-angular>
</div>
